*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegador{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color:#2197DD ;
    height: 60px;
    
 }
 
 .navegador input{
     border-radius: 8px;
     margin-left: 30px;
     height: 25px;
 }
 
 
 .navegador-items{
     display: flex;
     justify-content: center;
     align-content: center;
     list-style-type: none;
 
    
 }
 
 nav ul li {
     margin-right: 20px;
     margin-left: 20px;
 }
 
 nav ul li a{
     text-decoration: none;
    
     color: black;
 }

article .presentacion{
    display: flex;
    margin: 20px;
}
.presentacion-info{
    align-content: center;
}
.presentacion img{
    width: 300px;
    height: 350px;
    margin-right: 20px;
}
 
  aside{ 
     background-color: #022235;
  }
 .piedepagina{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .piedepagina li {
     list-style-type: none;
     margin: 20px;
 }
 .piedepagina li a{
     text-decoration: none;
     color: azure;
  }