*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navegador{
   display: flex;
   justify-content: center;
   padding: 15px;
   background-color:#2197DD ;
   height: 60px;
   
}

.navegador input{
    border-radius: 8px;
    margin-left: 30px;
    height: 25px;
}


.navegador-items{
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;

   
}

nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}
h3{
    font-size: 20px;
    margin-left: 10px;
}

.navegador .logo{
    width: 40px;
    height: 30px;
    margin-right: 50px;
    transition: .5s;
}

.logo:hover{
    transform: rotate(360deg);
}

nav ul li a{
    text-decoration: none;
   
    color: black;
}
/*
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.tarjeta img{
    width: 70%;
    height: 65%
}
*/
.tarjeta{
 
    transition: 0.5s;
}
.tarjeta:hover {
    transform: scale(1.1);
}
aside{ 
    
    background-color: #022235;
 }
.piedepagina{
    display: flex;
    justify-content: center;
    align-items: center;
}
.piedepagina li {
    list-style-type: none;
    margin: 20px;
}
.piedepagina li a{
    text-decoration: none;
    color: azure;
 }

  footer{
  width: 100%;

 } 

 .navegador .fa-bars{
    display: none;
}

 @media(max-width:576px){
    .logo{
        display: none;
    }
    .navegador .fa-bars{
        display: block;
        color: white;
        font-size: 34px;
        margin: auto;
    }
    .navegador > ul {
        position: fixed;
        top: 0;
        left: -300px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 70px; 
        width: 200px;
        height: 100vh;
        background-color: #2197DD;
        transition: 0.2s;
    }
    .navegador input {
        display: none;
    }
    .navegador .fa-bars:hover + ul{
        left:0

    }
    .navegador ul:hover{
        left: 0;
    }
    .tarjeta{
        width: 100%;
    }
    footer {
        width: 100%;
    }
    footer .piedepagina{
        width: 100%;
    }
    
 }

 @media (max-width: 703px) {
    .logo{
        display: none;
    }
    .navegador .fa-bars{
        display: block;
        color: white;
        font-size: 34px;
        margin: auto;
    }

    .navegador > ul {
        position: fixed;
        top: 0;
        left: -300px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 70px; 
        width: 200px;
        height: 100vh;
        background-color: #2197DD;
        transition: 0.2s;
    }
    .navegador input {
        display: none;
    }
    .navegador .fa-bars:hover + ul{
        left:0

    }
    .navegador ul:hover{
        left: 0;
    }

    .navegador{
       justify-content: space-around;
    }
    
    .navegador input{
        width: 60px;
        margin-left: 0;
    }
    nav ul li {
        margin-right: 10px;
        margin-left: 10px;
    }
 }

 @media(max-width: 900px){
    .navegador .buscar {
        width: 50px;
    }
 }