@import "mixin";
h1 {
    color: rgb(243, 243, 243);
    -webkit-text-stroke: 1px black;
  }
  .encabezado {
   @include encabezado(100%);
    button {
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        background-color: rgb(54, 163, 241);
        font-size: 18px;
        padding: 5px;
        cursor: pointer;
      }
  }
  