
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "reset";
@import "navbar";
@import "footer";

/*----------- Index -------------*/

h1 {
  color: rgb(1, 1, 65);
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: stretch;
}

.encabezado {
  background-image: url(../img/shopimage-min.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encabezado button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: rgb(54, 163, 241);
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  border: $color-secundario;
  background-color: gainsboro;
  cursor: pointer;
}

h2 {
  margin-left: 30px;
  margin-top: 30px;
}

.tarjeta-index img {
  width: 60%;
  height: 50%;
}

.tarjeta-index {
  gap: 10px;
  margin: 10px;
  transition: 0.5s;
}

.tarjeta-index:hover {
  transform: translate(5px, 3px);
}

section .tarjeta-index img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

aside {
  background-color: $color-secundario;
}

button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .tarjetas {
    display: flex;
  }
  .tarjeta-index {
    width: 90%;
    height: 80%;
    flex-direction: column;
    align-items: center;
  }
  .tarjeta-index img {
    width: 95%;
  }
  .tarjeta-index button {
    padding: 10px 20px;
    border: none;
    background-color: $color-nav;
    color: white;
  }
  .tarjetas {
    flex-wrap: wrap;
  }
  .tarjeta-index:hover {
    transform: inherit;
  }
  .tarjeta {
    width: 350px;
    flex-direction: column;
    align-items: center;
  }
  .tarjeta img {
    width: 95%;
  }
  .tarjeta button {
    padding: 10px 20px;
    border: none;
    background-color: $color-nav;
    color: white;
  }
  .productos {
    flex-wrap: wrap;
  }
  .tarjeta:hover {
    transform: inherit;
  }
}
/*-----------Index---------------*/
/* --------Products -------------*/


h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.tarje-info {
  text-align: center;
}

.tarje-info p:nth-child(1) {
  font-size: 20px;
  color: rgba(0, 9, 52, 0.512);
}

.tarje-info p:nth-child(2) {
  font-size: 15px;
}

.tarjeta img {
  border-radius: 6px;
}

.tarjeta {
  transition: 0.5s;
}

.tarjeta:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .tarjeta:hover {
    transform: inherit;
  }
}
@media (max-width: 900px) {
  .encabezado {
    display: flex;
    flex-direction: column;
  }
  .encabezado h1 {
    margin-left: 10px;
  }
  .encabezado button {
    margin-top: 20px;
  }

  section .tarjeta img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  section .tarjeta-index img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

}


/* -------- Fin Products -------------*/
/*------ Nosotros -------*/
.presentacion {
  background-color: rgba(208, 205, 246, 0.421);
  border-radius: 30px;
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.presentacion img {
  margin-left: 10px;
  object-fit: contain;
  border-radius: 6px;
  border-radius: 6px;
  width: 450px;
  height: 450px;
  margin-right: 20px;
}

.presentacion-info {
  text-align: justify;
  margin: 15px;
}

@media (max-width: 575px) {
  .presentacion img {
    width: 70%;
    height: auto;
    object-fit: initial;
  }
}
@media (max-width: 850px) {
  .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .presentacion img {
    margin-top: 15px;
  }
  .presentacion-info {
    margin-top: 5px;
  }
}
/*------ Nosotros -------*/

/*--------- Contactanos -----------*/
section input:hover {
  background-color: #0d6efd;
  cursor: pointer;
}

.canales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canales p {
  width: 50vw;
  margin: auto;
  text-align: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto input {
  border-radius: 6px;
  width: 300px;
  margin: 10px;
}

.direccion p {
  margin-top: 8px;
  text-align: center;
}

#contactos button {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .form-check-label {
    font-size: 15px;
  }
}